/*@media(max-width:1400px){
    .products .row {
        display: flex;
        flex-direction: column;
    }
    .products .row .col-lg-8{
        width: 100%;
        margin-top: 1.5rem;
       
    }
    .Category-content-products .products img{
        width: 100%;
        object-fit: cover;
        height: 80%;
        margin-bottom: 0.8rem;
        }

}*/


@media (max-width:1200px){
    html{
        font-size: 16px;
    }

 
}

@media (max-width:992px){
    html{
        font-size: 15px;
    }
}

@media (max-width:768px){
    html{
        font-size: 14px;
    }

@media (max-width:576px){
    html{
        font-size: 13px;
    }
    
}
}

@media (max-width: 768px) {
    .button-container {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow */
      background-color: var(--white-color); /* Optional: Add a background color */
      padding: 10px; /* Add padding for spacing */
      z-index: 1000; /* Ensure it stays above other content */
    }
}  
