@media(max-width:1400px){
    .products .row {
        display: flex;
        flex-direction: column;
    }
    .products .row .col-lg-8{
        width: 100%;
        margin-top: 1.5rem;
    }
    .Category-content-products .products img{
        height: 100%;
        width: 100%;
        }

       

}



/*

@media (max-width:1200px){
    h1{
        font-size: 3rem;
    }

    h2{
        font-size: 2.25rem;
    }
    h3{
        font-size: 1.75rem;
    }
    h4{
        font-size: 1.375rem;
    }
    h5{
        font-size: 1.125rem;
    }
    h6{
        font-size: 1rem;
    }
    p{
        font-size: 1rem;
    }

 
}

@media (max-width:992px){
    h1{
        font-size: 2.8rem;
    }
    h2{
        font-size: 2rem;
    }
    h3{
        font-size: 1.70rem;
    }
    h4{
        font-size: 1.3rem;
    }
    h5{
        font-size: 1.1rem;
    }
    h6{
        font-size: 0.925rem;
    }
    p{
        font-size: 0.925rem;
    }
}

@media (max-width:768px){
    h1{
        font-size: 2.6rem;
    }
    h2{
        font-size: 1.9rem;
    }
    h3{
        font-size: 1.6rem;
    }
    h4{
        font-size: 1.275rem;
    }
    h5{
        font-size: 1.075rem;
    }
    h6{
        font-size: 0.9rem;
    }
    p{
        font-size: 0.9rem;
}

@media (max-width:576px){
    h1{
        font-size: 2.5rem;
    }
    h2{
        font-size: 1.8rem;
    }
    h3{
        font-size: 1.5rem;
    }
    h4{
        font-size: 1.25rem;
    }
    h5{
        font-size: 1.05rem;
    }

    h6{
        font-size: 0.875rem;
    }
    p{
        font-size: 0.875rem;
    }
}
}*/

@media (max-width:1200px){
    html{
        font-size: 16px;
    }

 
}

@media (max-width:992px){
    html{
        font-size: 15.5px;
    }
}

@media (max-width:768px){
    html{
        font-size: 15px;
    }

@media (max-width:576px){
    html{
        font-size: 14px;
    }
    
}
}

