:active,
:hover,
:focus{
    outline:0 !important;
    outline-offset: 0;
}

html{
    scroll-behavior: smooth;
    font-size: 16px;

}

:root{
    --primary-color:#0068C8;
    --secondary-color:#0054A1;
    --tertiary-color:#F5F9FF;
    --white-color:#fff;
    --text-color:#999999;
    --black-color:#0b0b0b;
}

h1{
    font-family: "Catamaran", serif;
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.625rem;
    letter-spacing: -1px;
}

h2{
 
    font-family: "Catamaran", serif;
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 2.937rem;
}

h3{
    font-family: "Catamaran", serif;
    font-weight: 500;
    font-size: 1.75rem;
    line-height: 2.437rem;
}

h4{
    font-family: "Catamaran", serif;
    font-weight: 450;
    font-size: 1.375rem;
    line-height: 2.0625rem;
}

h5{
    font-family: "Catamaran", serif;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.6875rem;
}

h6{

    font-family: "Catamaran", serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
}

p{
    font-family: "Catamaran", serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.625rem;
}

a{
    font-family: "Catamaran", serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: auto;
}

li:hover{
    color:var(--primary-color);
}

.btn-sm{
    font-family: "Catamaran", serif;
    font-weight: 600;
    font-size: 0.875rem;       
}

.btn-md{
    font-family: "Catamaran", serif;
    font-weight: 600;
    font-size: 1rem;
}

.btn-lg{
    font-family: "Catamaran", serif;
    font-weight: 600;
    font-size: 1.25rem;    
}

.btn-primary{
    color: var(--white-color);
    background-color:var(--primary-color);
    border-color: var(--primary-color);
    border-radius: 0.25rem;
}

.btn-primary:hover{
    color:var(--white-color);
    background-color:var(--secondary-color);
    border-color: var(--secondary-color);
    border-radius: 0.25rem; 
}

.btn-outline-primary{
    color:var(--primary-color);
    background-color: var(--white-color);
    border-color:var(--primary-color);
    border-radius: 0.25rem;
}

.btn-outline-primary:hover{
    color: var(--white-color);
    background-color:var(--primary-color);
    border-color: var(--primary-color);
    border-radius: 0.25rem;    
}

.btn-outline-secondary{
    color:var(--white-color);
    background-color:transparent;
    border-color:var(--white-color);
    border-radius: 0.25rem;
}

.btn-outline-secondary:hover{
    color:var(--white-color);
    background-color:var(--secondary-color);
    border-color:var(--white-color);
    border-radius: 0.25rem;
}

.wrapper{
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
}

.wrapper-background{
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
    background-color:var(--tertiary-color);
}

.breadcrumb-wrapper{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    background-color:var(--tertiary-color);
}

/* Header*/

header{
    background-color:var(--black-color);
}

/* Footer*/

footer{
    background-color: var(--black-color);   
}

footer .col-md-4{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.footernav{
    color: var(--white-color);
}

footer .social-icons{
    height: 2rem;
    width: 2rem;
}

/* Homepage */

body{
    overflow-x: hidden;
}

.nav-link{
    color:var(--white-color);
 }

.navbar-nav .nav-link {
    color:var(--white-color);
}

.navbar{
    position:fixed;
    width: 100%;
    background-color: #0b0b0b;
    z-index: 1000;
    transition: all 0.3s ease-out;
}

.hero {   
    background-image: url('../images/Frame\ 8.png') ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 31.25rem;
}

.hero .box-1{
    height: 31.25rem;
}

.hero .box-1 h4,h1{
    color: var(--white-color);
}

.enquiry-section .seller{
    border-radius: 0.25rem; 
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
    background-image: url('../images/Frame\ 15.png') ;
    background-repeat: no-repeat;
    background-size: cover;
}

.enquiry-section .buyer{
    border-radius: 0.25rem;
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
    background-image: url('../images/Frame\ 141.png') ;
    background-repeat: no-repeat;
    background-size: cover;
}

.enquiry-section h3{
    color: var(--white-color);
}

.categoryYouMayLike .card{
    display: flex;
    align-items: center;
    box-shadow: 0.625rem;
    border-radius: 0.625rem;
}

.categoryYouMayLike .card:hover{
    background-color: var(--secondary-color);
}

.categoryYouMayLike a:hover{
    color: var(--white-color);
}
.top-heading{
    border-bottom: 0.25rem solid var(--primary-color);
    width: fit-content;
    padding-left: 0rem;
}

.categorycarousel .card .category-image{
    width: 80%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.custom-nav{  
    display: flex;
    z-index: 2;
    justify-content: space-between;    
}

.owl-prev{
    border-radius: 50%;
    position: relative;
    bottom: 9.0625rem;
    z-index: 9;
    left: -0.75rem;
    background-color:var(--white-color);
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.owl-next{
    border-radius: 50%;
    position: relative;
    bottom: 9.0625rem;
    z-index: 9;
    left: 0.75rem;
    background-color:var(--white-color);
    color: var(--primary-color);
    border-color: var(--primary-color);
}


.rowcategory{
    margin-top: 2.5rem;
}
.extra-line{
    border-bottom: 3px solid #0068C8;    
    transform: translateY(17px);
    width:21.5rem;  
}

.header-search{
    background-color: var(--black-color);
}

.productsYouMayLike img{
    width: 100%; 
    aspect-ratio: 4/3; 
    object-fit: cover;
    border-radius: 0.25rem;
}

.product-box{
    margin-top: 2.5rem;
}

.product-box h5{
   
    margin-top: 0.25rem;
    margin-bottom: 1rem;
}

.product-box h6{
    margin-top: 1rem;
    color: #666666;
}

.product-box .d-flex{
    margin-top: 1rem;
}
.product-box h3{
    color: #E70000;
    margin-top: 1rem;
}
.product-box .send-enquiry-btn{
    margin-top: 1.75rem;
}

.Arrival-Famous .image-large{
    width: 100%;
    aspect-ratio: 2/1;
    object-fit: cover;
    border-radius: 0.625rem;
}

.Arrival-Famous .image-small{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 0.25rem;
}

.Arrival-Box{
    margin-top: 2.5rem;
}

.Famous-Box{
    margin-top: 2.5rem;
}

.custom-nav2{
    margin-top: 1.875rem;
    display: flex;
    justify-content: center;
}

.benefits{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 1.5625rem;
    margin-right: 1.5625rem;
}


.BuyerandSeller form{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.BuyerandSeller .row{
    margin-top: 2.5rem;
    display: flex;
    justify-content: space-between;

}

.FindSellersByCity .row{
    margin-top: 2.5rem;
}

.FindSellersByCity .city-images{
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 100%;
}

.Testimony .description{
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
    color: var(--text-color);
}

.reviewer{
    border-radius: 6.25rem;
    width:5rem;
    aspect-ratio: 1/1;
    margin-top:1.875rem ;
    margin-bottom: 1.875rem;
}

.reviewer-name{
    color: var(--primary-color);
}

.blogcarousel{
    margin-top: 2.5rem;
}

.Blogs .heading{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.Blogs .description{
    color: var(--text-color);
    margin-bottom: 1.25rem;
}

.Blogs .commentbox{
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
}

.owl-nextll{
    border-radius: 50%;
    position: relative;
    bottom: 17.625rem;
    z-index: 9;
    left: 0.75rem;
    background-color: var(--white-color);
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.owl-prevll{
    border-radius: 50%;
    position: relative;
    bottom: 17.625rem;
    z-index: 9;
    left: -0.75rem;
    background-color: var(--white-color);
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.heading{
    margin-top: 1.25rem;
    margin-bottom: 0.625rem;
}

.decription{
    margin-top: 0.625rem;
    margin-bottom: 1.25rem;
}

.App h4{
    color: var(--text-color);
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.App .scan-image{
    width: 5.25rem;
    height: 5.25rem;
}

.App .google-image{
    width: 7.5rem;
    height: 2.5rem; 
}

.App .apple-image{
    width: 7.5rem;
    height: 2.5rem;
}

.tradeshowcrousel h5{
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
}

.tradeshow-prev{
    border-radius: 50%;
    position: relative;
    bottom: 11.5rem;
    z-index: 9;
    left: -0.75rem;
    background-color: var(--white-color);
    color: var(--primary-color);
    border-color:var(--primary-color);
}

.tradeshow-next{
    border-radius: 50%;
    position: relative;
    bottom: 11.5rem;
    z-index: 9;
    left: 0.75rem;
    background-color: var(--white-color);
    color: var(--primary-color);
    border-color:var(--primary-color);
}

.tradeshowcrousel{
    margin-top: 2.5rem;
}

/* CategoryYouMayLike*/

.Category-content .extra-line{
    width: 11.5rem;
}

.Category-content p{
    margin-top: 2.5rem;
    color: #666666;
}

.Category-content .form-control{
    border: none;
    color: #0b0b0b;
}
  
 .Category-content input[type="search"]::placeholder {
    color:#0b0b0b; /* Placeholder text color */
  }
  .location-search-button{
    border-radius: 4px;
    border-color:#0068C8;
    color: #0068C8;
}

.location-search-button:hover{
    color: white;
}

.Category-content-products .products img{
    border-radius: 0.25rem;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    }
    
  .Category-content .col-md-8{
    overflow-x: auto;
  }

  .Category-content .location-search-button{
    flex: 0 0 auto;
  }

  .Category-content .row{
    margin-top: 5rem;
  }

  .Category-content-products .filter-wrapper{
    padding: 1rem 1rem;
    background-color: #F5F9FF;
    border-radius: 0.625rem;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
  }

  .Category-content-products .btn-link{
    font-family: "Catamaran", serif;
    font-weight: 500;
    font-size: 1rem;
    color: #0068C8;
  }
  .Category-content-products .btn-link:focus{
    outline:unset;
    border:unset;
    box-shadow:none;
}

.btn-custom{
    font-family: "Catamaran", serif;
    font-weight: 500;
    font-size: 1rem;
    color: red;
    background-color: white;
}
.btn-custom:focus{
    outline: unset;
    border: unset;
    box-shadow: none;


}

.btn-custom:hover{
    color: red;
}

.Category-content-products .products img{
height: 354px;
width: 100%;
}
.Category-content-products .products h6{
 color: #666666;
}

.Category-content-products .products h4{
    margin-bottom: 0.812rem;
    color: #0b0b0b
   }

  .Category-content-products .products p{
    margin-bottom: 1rem;
    color: #666666;
   }
   .Category-content-products .products .stars{
    margin-bottom: 1rem;
   }

   .Category-content-products .products h3{
    margin-bottom: 1.5rem;
    color: #E70000;
   
   }

   .Category-content-products .products .quantity h6{
    color: #0b0b0b;
   }
   .Category-content-products .products .quantity p{
    color: #0b0b0b;
   }

   .Category-content-products .products .btn-md{
    flex-grow: 1;
   }

   .Category-content-products .btn-side-nav{
    font-size: 1.375rem;

   }
   .prev-next-btn{
    border: none;
    color: #0068C8;
   }

   .prev-next-clicked-btn{
    border: none;
    color: #0068C8;
    outline:unset;
    border:unset;
    box-shadow:none;
   }

   .prev-next-clicked-btn:focus{
    border: none;
    color: #0068C8;
    outline:unset;
    border:unset;
    box-shadow:none;
   }

   .pagination .nav-num{
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 100%;
    border-color: #0068C8;
   }
   .pagination .nav-num:focus{
    outline:unset;
    border:unset;
    box-shadow:none;
   }


   /* ProductDetail*/

   .gap-product-detail1{
    gap: 1rem;
   }

   .gap-product-detail2{
    gap: 0.2rem;
   }


   .gap-product-detail2 h6{
    color: #666666;
   }

   .gap-product-detail2 h3{
    color: #0b0b0b;
   }

   .gap-product-detail2 h2{
    color: #E70000;
   }

   .gap-product-detail2 p{
    color: #666666;
   }

   .gap-product-detail2 h5{
    color: green;
   }
   .gap-product-detail2 .btn-link{
    font-weight: 600;
    text-decoration: none;
   }
   .gap-product-detail2 .quantity h6,p{
    color: #0b0b0b;
   }

   .gap-product-detail2 .quantity p{
    color: #0b0b0b;
   }

   #text-content{
    color: #666666;
   }

   .img-border{
    border:4px solid  #0068C8 ;
   }

   .gap-product-detail2 .form-control {

    color:#0b0b0b; /* Placeholder text color */
    border: none;
    outline:unset;
    border:unset;
    box-shadow:none;

  }

  .gap-product-detail1 .primary-button{
    flex-grow: 1;
  }

  .gap-product-detail1 .secondary-button{
    flex-grow: 1;
  }

  .gap-overview{
    gap: 3.75rem;
    margin-top: 2.5rem;
  }

  .overview p{
    color: #666666;
  }

  .about-seller p{
    color: #666666;
  }
  .about-seller .row{
    margin-top: 2.5rem;
  }

  .gap-rate-review{
    margin-top: 2.5rem;
  }

  .rate-review .progress{
    border-radius: 2.5rem;
    height: 8px;
  }
  
  .rate-images {
    height: 5rem;
    width: 5rem;
  }
  .rate-images .d-lg-block {
    height: 5rem;
    width: 5rem;
    
  }

  .gap-images{
    gap: 1.5rem;
  }

  .img5{
    background-image: 
    linear-gradient(rgb(0, 104, 200), rgba(0, 104, 200, 0.7)),
    url('../images/Frame\ 292.png');
    background-size: cover;
     background-position: center;
    
  }

  .reviews{
    margin-top: 5rem;
  }
